@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Permanent+Marker&display=swap');

body {
    box-sizing: border-box;
    background: #f1e2e2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.container  {
    width: 100%;
    margin: auto;
    max-width: 800px;
}
.intro {
    display: flex;
}
.about_me   {
    display: none;
    background: #d2e2f0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 50px;
    left: 250px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
}
.about_me img   {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    border-radius: 50%;
}
button  {
    border: none;
    background: transparent;
}
.btn    {
    font-weight: bold;
    font-family: lobster;
    width: 100px;
    background: #a77979;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 10px 0;
}
.btn:hover {
    cursor: pointer;
    background: #d2e2f0;
    color: #a77979;
    transition: background .2s linear;

}
.show   {
    display: block;
    width: 800px;
    height: 400px;
    
}

a {
    color: black;
    text-decoration: none;
    margin-left: 20px;    
}
a:hover{
    color: brown;
    
}


.img {
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 124px;
    max-height: 124px;
    box-shadow: 1px 5px 5px rgb(71, 62, 71);
}
h1  {
    text-align: center;
    font-weight: normal;
    font-family: lobster;
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(139, 99, 99);
}
h3  {
    text-align: center;
    font-family: lobster;
    font-weight: normal;
    font-size: 20px;
    color: rgb(16, 13, 13);
}
p   {
  
    font-weight: 400;
    line-height: 20px;
    color: rgb(67, 59, 59);
}
table   {
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
table td {
    background: rgb(224, 217, 217);
    border-radius: 5px;
}
table td:hover {
    background: rgb(180, 171, 171);
    color: white;
}
table th {
    background: rgb(224, 217, 217);
    border-radius: 5px;
}
.card   {
    background: #a77979;   
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 15px 20px;
    box-shadow: 15px 5px 5px rgba(155, 131, 131, 0.911);
    transition: all .8s;
}
header  {
    background: #a77979;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.intro h1 {
    color: rgb(16, 13, 13);
}

.card:hover {
    box-shadow: none;
}
.card:active {
    box-shadow: none;
}
.hobbi  { 
    display: none;
}

.hobbi__inner   { 
    display: flex;
    flex-wrap: wrap;   
}
.hobbi_img   {
    margin: auto;    
    padding: 5px;
}

.social {
    margin: auto;
    width: 200px;
    background: #d2e2f0;
    text-align: center;
    padding-bottom: 5px ;
    margin-bottom: 10px;
    border-radius: 20px;

}
.social img {
    margin-top: 10px;
    width: 40px;
}
.social :first-child {
    margin-left: 0;
}
.intro h3  {
    color:#d2e2f0;
}


.job_title  {
    position: relative;
    display: inline-block;
}
.job_content    {
    display: none;
    position: absolute;
    background-color: #dbcfcf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.job_content a {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.job_title:hover .job_content {
    display: block;
    width: 300px;
    border-radius: 5px;
    background: #d2e2f0;
}
footer {
    margin-top: 20px;
    display: flex;
    background-color: #a77979;
    border-radius: 20px;
}
.contact    {
    width: 50%;
}
.contact h3 {
    color: rgb(11, 7, 1);
}

.skills {
    font-family:  Permanent Marker;
    text-align: center;
    border-radius: 20px;
}


.lng_inner  {
   display: flex;
   flex-wrap: wrap;
}
.lng_item   {
    position: relative;
    width: 150px;
    height: 120px;
    margin: auto;
}
.lng_img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 150px;
    height: 120px;

}
.lng_content    {
    color: aliceblue;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9 );
    opacity: 0;
    transition: opacity .2s linear;
    
}
.lng_item:hover .lng_content {
    opacity: 1;
    cursor: pointer;
}
.PC_skill img {
    margin: 10px;
    width: 120px;
    height: 120px;
}
.pc_inner   {
    padding: 10px;
}
.btn {
    position: absolute;
    top: 10px;
    left: 10px;
}
@media(max-width: 1050px){
 .btn {
    border: 2px #d2e2f0 solid;
 }
 .show {
    width: 400px;
    height: auto;
    top: 0;
    left: 0;
 }

}

@media (max-width: 650px) {
    .intro {
        display: block;
        text-align: center;
        font-size: 14px;
    }
    .img{
        max-width: 100px;
    }
    table   {
        font-size: 12px;
       
       
    }
    


}
@media(max-width: 750px){
   .lng_item {
    padding: auto;
    padding-bottom: 10px;
    
   }
   }